<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="RedisConfig" type="TLZ.Redis.Config.RedisSettingConfigSection,TLZ.Redis" />
  </configSections>
  <appSettings>
    <add key="CACHE_REDIS" value="true" />
  </appSettings>
  
  <RedisConfig autoStart="true" dbIndex="0" password="315360007tbdress" allowAdmin="true" abortConnect="false">
    <ReadWriteHost>
      <add host="38.123.98.109:16379" />
      <add host="38.123.98.109:16379" />
    </ReadWriteHost>
    <MaxWritePoolSize size="65000" />
    <MaxReadPoolSize size="65000" />
    <SocketSendTimeout second="1000" />
    <SocketReceiveTimeout second="1000" />
    <ConnectTimeout second="1000" />
  </RedisConfig>
  <connectionStrings>
    <add name="ShopifyModel" connectionString="Data Source=JIALIPENG\TIDEBUY;Initial Catalog=shopify;User ID=sa;Password=123qwe@#;          MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.4.0" newVersion="4.9.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>