<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="simple" type="Learning.CustomConfig.SimpleSection,Learning"/>
    <section name="complex" type="Learning.CustomConfig.ComplexSection,Learning"/>
  </configSections>
  <simple maxValue="20" minValue="1"></simple>
  <complex height="190">
    <child firstName="James" lastName="Bond"/>

    <children>
      <add firstName="Zhao" lastName="yukai"/>
      <add firstName="Lee" lastName="yukai"/>
      <remove firstName="Zhao"/>
    </children>

    <NVs>
      <add name="abc" value="123"/>
      <add name="abcd" value="12d3"/>
    </NVs>
  </complex>
  
  
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>

</configuration>
